fcitx/
pulse/
ibus/
yay/
lazygit/
Slack/
yazi/
mozc/
user-dirs.dirs
gh/
github-copilot/
pavucontrol.ini
user-dirs.locale
vivaldi/
Creality/
cura/
google-chrome/
xournalpp/
spotifyd/
spotify-tui/
spotify/
reflector-simple-free-params.txt
knfsshare
EOS-greeter.conf
dconf/
blender/
google-chrome/
freeplane/
xournalpp/
RemNote/
kde.org/
neofetch/
obsidian/
session/
trashrc
.latexmkrc
okularrc
okularpartrc
OpenSCAD/
VirtualBox/
kicad/
pamac/
filetypesrc
mimeaps.list
menus/
Kitware/
qutebrowser/
go/
calibre/
clipse/
pcmanfm/
systemd/
rncbc.org/
qt6ct/
qt5ct/
qalculate/
octopi/
btop/
webCord/
Thunar/
xfce4/
WebCord/
gtk-3.0/
libfm/
neovide/
xsettingsd/
QtProject.conf
dolphinrc
GitHub Desktop/
keepassxc/
nwg-drawer/
nwg-dock/
nwg-launchers/
nwg-look/
vlc/

